# Environment variables
.env

# Python cache
**/__pycache__/

# Virtual environment
venv/

# macOS specific files
**/.DS_Store

# IDEs
**/.vscode/
**/.idea/

# Jupyter Notebook
**/*.ipynb_checkpoints

# SQLite Database
data/*.db
data/*.sqlite