# compose.yaml

services:
  # Agent 01: Simple Reflex
  reflex_agent:
    build:
      context: .
      dockerfile: 01_simple_reflex/Dockerfile
    image: ai-foundation-reflex:101
    profiles: ["reflex"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true

  # Agent 02: Single Tool User
  single_tool_agent:
    build:
      context: .
      dockerfile: 02_single_tool_use/Dockerfile
    image: ai-foundation-single-tool:101
    profiles: ["single-tool"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true

  # Agent 03: Multi-Tool User
  multi_tool_agent:
    build:
      context: .
      dockerfile: 03_multi_tool_use/Dockerfile
    image: ai-foundation-multi-tool:101
    profiles: ["multi-tool"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true

  # Placeholder for Agent 04 and onwards