# compose.yaml

services:
  # Agent 01: Simple Reflex
  reflex_agent:
    build:
      context: .
      dockerfile: 01_simple_reflex/Dockerfile
    image: ai-foundation-reflex:101
    profiles: ["reflex"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true

  # Agent 02: Single Tool User
  single_tool_agent:
    build:
      context: .
      dockerfile: 02_single_tool_use/Dockerfile
    image: ai-foundation-single-tool:101
    profiles: ["single-tool"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true

  # Agent 03: Multi-Tool User
  multi_tool_agent:
    build:
      context: .
      dockerfile: 03_multi_tool_use/Dockerfile
    image: ai-foundation-multi-tool:101
    profiles: ["multi-tool"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true
  
  # Agent 04: Memory Aware
  memory_aware_agent:
    build:
      context: .
      dockerfile: 04_memory_aware_agent/Dockerfile
    image: ai-foundation-memory:101
    profiles: ["memory-aware"]
    env_file: .env
    # This allows us to interact with the input() prompt in the terminal
    stdin_open: true
    tty: true
    # Mapping the local 'data' folder to the container's '/app/data'
    volumes:
      - ./data:/app/data
    # Optional: Keep it here to make it explicitly clear what script runs
    command: python 04_memory_aware_agent/agent.py

  # Placeholder for Agent 05 and onwards